
body {
    margin: 0 auto;

    padding: 40px; 

    background-image: url("https://images.unsplash.com/photo-1615800098746-73af8261e3df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3075&q=80");
   
    font-family: 'Cinzel', serif;

    font-weight: 300;
}

header {
    text-align: center;
}

.title {
    background-color: rgba(255, 255, 255, .7);
    border: 5px solid rgba(255, 255, 255, .7);
    border-radius: 5px;
}

header a {
    background-color: rgba(255, 255, 255, .7);
    border: 5px solid rgba(255, 255, 255, .7);
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: brown;
}

.logout {
    display: flex;
    align-items: flex-start;
}

button {
    font-family: 'Cinzel', serif;
    background-color: rgb(143, 151, 160);
    font-size: 1em;
    color: darkred;
    font-weight: bold;
}

img {
    border: 5px solid black;
    border-radius: 40px;
    width: 25%;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 25px;
    background-color: rgba(255, 255, 255, .7);
    border: 5px solid rgba(255,255,255, .7);
    border-radius: 5px;
    gap: 20px;
}

main h2 {
    display: inline;
    background-color: rgba(61, 45, 20, 0.603);
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
}

.edit {
    color: rgb(117, 25, 2);
    font-size: 1.4em;
    text-decoration: none;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 10px;
    background-color: rgba(61, 45, 20, 0.603);
}

.character_edit, .character_new {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

button {
    padding: 15px;
}
