<h1>Create Your Character</h1>

<form action="/characters" method="POST">
    <label for="">Name: </label>
    <input type="text" name="name">

    <label for="">Character Portrait: </label>
    <input type="text" name="character_portrait">

    <label for="">Race: </label>
    <input type="text" name="race">

    <label for="">Character Class: </label>
    <input type="text" name="character_class">

    <label for="">Character Strength: </label>
    <input type="text" name="character_strength">

    <label for="">Character Flaw: </label>
    <input type="text" name="character_flaw">


    <button>Create</button>


</form>

